body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
header {
  background: #f8f9fa;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

header .logo h1 {
  margin: 0;
  font-size: 24px;
}


nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s; /* Smooth transition for hover effects */
}

nav ul li a:hover {
  color: #0056b3; /* Darken link color on hover for interaction feedback */
}


.app-container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 40%;
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
}

.content {
    width: 75%;
    padding: 20px;
    overflow-y: auto;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Add to your existing CSS */
.hyperparameters {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .hyperparameters h2 {
    margin-top: 0;
    color: #333;
  }
  
  .hyperparameters label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
  }
  
  .hyperparameters input[type=number] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  button {
    background-color: #ff9900;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #cc7a00;
  }

  
/* Drag and drop file input styles */
.file-upload-container {
  border: 2px dashed #ccc;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.file-dropzone {
  cursor: pointer;
}

.file-input-btn {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 10px;
  display: inline-block;
  margin-bottom: 8px;
}

.file-dropzone p {
  margin: 0;
}

/* Adjusting width of hyperparameters container */
.sidebar {
  resize: horizontal; /* This allows the container to be resized horizontally */
  overflow: auto; /* To ensure content does not overlap when resized */
  border: 1px solid #ddd; /* Adding a border to indicate the area that can be resized */
  padding: 10px; /* Spacing inside the container */
  margin-bottom: 20px; /* Spacing below the container */
}


/* Add additional CSS for the form and carousel as needed */
