body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background-color: #f7f7f7;
}

header {
  background: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo h1 {
  margin: 0;
  font-size: 24px;
  color: #0056b3;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #0056b3;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #00376b;
}

.app-container {
  display: flex;
  min-height: calc(100vh - 60px); /* Adjust based on header height */
}

.sidebar {
  width: 20%; /* Fixed width for consistency */
  background-color: #ffffff;
  padding: 20px;
  max-height: 100vh; /* 100% of the viewport height */
  overflow-y: auto; /* Enables scrolling */
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  border-right: 1px solid #eaeaea;
}


.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #fff;
}

.file-upload-container,
.hyperparameters {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.hyperparameters h2,
.file-upload-container h2 {
  margin-top: 0;
  color: #333;
  font-weight: 600;
}

.hyperparameters label,
.file-upload-container label {
  display: block;
  margin: 10px 0;
  font-size: 14px;
}

.hyperparameters input[type=number],
.hyperparameters input[type=text],
.file-upload-container input[type=file],
.file-upload-container input[type=text] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #555;
}

button {
  background-color: #0056b3;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
  margin: 5px 0;
}

button:hover {
  background-color: #00407a;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #e9e9e9;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #0056b3;
}

.tab button:hover {
  background-color: #d9d9d9;
}

.tab button.active {
  background-color: #cacaca;
  color: #fff;
}

.tabcontent {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
}

@media (max-width: 768px) {
  .sidebar,
  .content {
    width: 100%;
    padding: 15px;
  }
  .sidebar {
    border-right: none;
  }
}

.file-dropzone {
  cursor: pointer;
  background-color: #f0f0f0;
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  transition: border-color 0.2s ease-in-out;
}

.file-dropzone:hover {
  border-color: #a8a8a8;
}

.file-input-btn {
  background-color: #f7f7f7;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  padding: 5px 10px;
  display: inline-block;
  margin-bottom: 8px;
  transition: background-color 0.2s ease;
}

.file-dropzone p {
  margin: 10px 0 0;
}

#toggle-advanced-settings {
  background-color: #f0f0f0;
  color: #0056b3;
  border: 1px solid #d0d0d0;
  padding: 8px 16px;
  font-size: 0.9em;
  text-align: center;
  display: block;
  transition: background-color 0.2s ease-in-out;
  margin-top: 20px;
}

#toggle-advanced-settings:hover {
  background-color: #e0e0e0;
}

#toggle-advanced-settings:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.load-status {
  margin-top: 10px;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: opacity 0.3s ease-in-out;
}

.success-message {
  color: #4CAF50; /* A pleasant green */
  background-color: #EDF7ED; /* A very light green background */
}

.error-message {
  color: #F44336; /* A soft red */
  background-color: #FDEDEE; /* A very light red background */
}

/* Optional: Add icons through pseudo-elements */
.success-message::before {
  content: "\2713"; /* Unicode checkmark */
  display: inline-block;
  margin-right: 8px;
}

.error-message::before {
  content: "\26A0"; /* Unicode warning sign */
  display: inline-block;
  margin-right: 8px;
}
.neutral-message {
  color: #333; /* A neutral, dark grey color for text */
  background-color: #f5f5f5; /* A light grey background */
  border: 1px dashed #ccc; /* A dashed border for emphasis */
  padding: 8px;
  border-radius: 4px;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  transition: opacity 0.3s ease-in-out;
}


/* Spinner styles */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

